.form-control {
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
}

form {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 10px;
    background-color: white;
}

/*Category*/

#category-table img {
    width: 50px;
    height: 50px;
}

#category-image-show {
    width: 80px;
    height: 80px;
    position: absolute !important;
}
